run = "npm run dev --prefix web"
entrypoint = "web/src/app/page.tsx"
modules = ["nodejs-20"]
hidden = [".git", "node_modules", "web/node_modules", "web/.next"]

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "npm install --prefix web && npm run build --prefix web"]
run = ["sh", "-c", "npm run start --prefix web"]

[[ports]]
localPort = 3000
externalPort = 80

[env]
NODE_ENV = "development"
